/* ==UserStyle==
@name           GruvBox - Stylus
@namespace      github.com/Xedecimal/userstyles
@version        1.0.0
@description    Stylus... Gruvbox style.
@preprocessor   stylus
@author         Xedecimal
@updateURL      https://raw.githubusercontent.com/Xedecimal/userstyles/master/gruvbox-stylus.user.styl
@homepageURL    https://github.com/Xedecimal/userstyles
@var color color-text           "Text"                  #EBDBB2
@var color color-text-light     "Text Light"            #FBF1C7
@var color color-text-dark      "Text Dark"             #928374
@var color color-back           "Background"            #282828
@var color color-back-dark      "Background Dark"       #1D2021
@var color color-back-light     "Background Bright"     #3C3836
@var color color-highlight      "Highlight"             #FB4934
@var color color-notification   "Notification"          #B8BB26

==/UserStyle== */
@-moz-document regexp("chrome-extension://.*")
    body
        color: color-text
        background: color-back
    a, .disabled a:hover
        color: color-text-light

