/* ==UserStyle==
@name           GruvBox - Gmail
@namespace      github.com/Xedecimal/userstyles
@version        1.1.7
@description    Gmail... Gruvbox style.
@preprocessor   stylus
@author         Xedecimal
@license        WTFPL
@updateURL      https://raw.githubusercontent.com/Xedecimal/userstyles/master/gruvbox-gmail.user.styl
@homepageURL    https://github.com/Xedecimal/userstyles
@var color color-text           "Text"                  #BDAE93
@var color color-text-dark      "Text Dark"             #A89984
@var color color-text-light     "Text Light"            #FBF1C7
@var color color-back           "Background"            #282828
@var color color-back-dark      "Background Dark"       #1D2021
@var color color-back-light     "Background Bright"     #3C3836
@var color color-highlight      "Highlight"             #FB4934
@var color color-notification   "Notification"          #B8BB26

==/UserStyle== */
@-moz-document domain("mail.google.com")
    account-button()
        compose-inline()
    body()
        background: color-back
        color: color-text

    compose-icon()
        background-color: color-back-dark
        color: color-text-light
        
    compose-icon-hover()
        compose-icon()

    compose-inline()
        background: color-back-dark;
        border-color: color-back-light
        
    compose-inline-footer()
        background: color-back
        border-color: color-back-light

    icon()
        filter: invert(1)
        
    link()
        color: color-text-light
        
    mail-body()
        color: color-text !important

    mail-bottom-buttons()
        background: none

    mail-bottom-button()
        background: color-back-dark
        color: color-text
        border-color: color-back
        box-shadow: inset 0 0 0 1px color-back-dark
    
    mail-checked()
        color: color-notification
        background: color-back
        
    mail-focus()
        background: color-notification

    notification()
        background: color-back-dark
        color: color-notification

    search()
        color: color-text-dark
        background: color-back-dark
        
    search-expanded()
        search()
        border: none
        box-shadow: none

    separator()
        background-color: color-back-light
        
    sidebar-hover()
        background: color-back-light

    sidebar-selected()
        color: color-text-light
        font-weight: normal;
        sidebar-hover()

    tag()
        background: color-back-dark !important
        color: color-text-dark !important
        
    text()
        color: color-text

    unread()
        font-weight: normal;
        background: color-back
        color: color-notification
        
    body, input, .aAT, .aAU, .w-asV.aiw, .nH .if, .nH .bkL, .aeJ, .yO, .bhZ.bym, .bhZ.bjB, .IG, .GQ, .Ap, .aoP .Ar, .Am, .aDg>.aDj, .iY .Bu, .aaZ, .vO, .aoT
        body()

    .hx, .hx .gD, .ha>.hP, .gb_ja svg, .y2, .TO .nU>.n0, .TO.NQ .nU>.n0, .TO.nZ .nU>.n0, .ah9>.CJ, .n3>.CL>.CK, .gt a, .go, .ig .g3, .hI .g3, .iv .g3, .hx .hb
        text()
        
    .ac2, .ig .gD, .hI .gD, .iv .gD, .iv .hb, .iv .g2, .ig .g6, .J-JN-M-I, .J-JN-M-I.J-JN-M-I-JW, .az9
        link()
    
    .zE, .bqe, .zF, .bq3
        unread()

    .gb_te
        search()

    .gb_te.gb_ue .gb_Oe, .gssb_m, .gssb_e, .gb_te.gb_ue
        search-expanded()

    .gb_fa
        account-button()
        
    .gssb_l
        separator()
        
    .Tm .ya, div.ajR
        notification()
    
    .nH.aHU, .nH.aHU *
        mail-body()

    .dF .dG, .nr, .Ar
        mail-bottom-buttons()

    .amn>.ams, .bxX, .btA .btz.T-I-ax7, .btA .Uo
        mail-bottom-button()
    
    .HM .I5
        compose-inline()

    .HM .aDi::after, .aC3, .HM .aDi::before
        compose-inline-footer()
        
    .x7
        mail-checked()

    .ams.bkH::before, .ams.bkG::before, .asa, .qj, .bqX, .xY>.T-Jo, td.apU>.T-KT.aXw::before, .G-tF .T-Jo, .G-asx, .d-Na-J3.d-Na-JX-ax3.d-Na-hFsbo, .adj, .amI, .adk, .amJ, .aBS .d-Na-JX-I .d-Na-J3, .og.T-I-J3, .Xv.T-I.J-JN-M-I>.J-JN-M-I-JG, .aMZ.a3G, .a8X>.bAK, .dv, .bi4>.T-KT:not(.T-KT-Jp):not(.byM)::before, .hB, .mL, .g1, .gZ, .ajy>.ajz, div.ajR .ajT, .az2 .J-JN-M-I-JG, .ams.bkI::before, .T-axO .J-JN-M-I-JG, .bs5::after, .gsoi_0, .asor_o, .asor
        icon()

    .zA>.PE.PF::before
        mail-focus()

    .z0>.L3
        compose-icon()

    .z0>.L3:hover, .z0>.L3:focus
        compose-icon-hover()

    .hU.hM, .hV.hM
        tag()

    .wT>.n3 .byl:first-child .aim:first-child .nZ, .byl .TO.nZ>.aHS-bnt .n0, .nZ>.aHS-bnt .bsU
        sidebar-selected()
        
    .TO.NQ, .n6 .ah9:hover, .n6 .ah9.aiu:hover, .n6 .ah9:focus, .CL.NQ, .CL:hover, .CL:focus
        sidebar-hover()
