/* ==UserStyle==
@name           GruvBox - Stylus
@namespace      github.com/Xedecimal/userstyles
@version        1.0.3
@description    Stylus... Gruvbox style.
@preprocessor   stylus
@author         Xedecimal
@license        WTFPL
@updateURL      https://raw.githubusercontent.com/Xedecimal/userstyles/master/gruvbox-stylus.user.styl
@homepageURL    https://github.com/Xedecimal/userstyles
@var color color-text           "Text"                  #BDAE93
@var color color-text-dark      "Text Dark"             #A89984
@var color color-text-light     "Text Light"            #FBF1C7
@var color color-back           "Background"            #282828
@var color color-back-dark      "Background Dark"       #1D2021
@var color color-back-light     "Background Bright"     #3C3836
@var color color-highlight      "Highlight"             #FB4934
@var color color-notification   "Notification"          #B8BB26

==/UserStyle== */
@-moz-document regexp("chrome-extension://.*")
    body()
        color: color-text
        background: color-back

    button()
        color: color-text-light
        background: color-back-light
        border: none
        
    icon()
        color: color-text
        fill: color-text
        
    input()
        color: color-text
        background: color-back-dark
        border: none
        
    link()
        color: color-text-light

    body
        body()

    input, select, input[type="checkbox"]:not(.slider), .usercss #name, #search, #manage\.newUI\.sort
        input()
            
    button
        button()
            
    .svg-icon, .svg-icon.checked, .newUI .entry .svg-icon.checked, .newUI .entry:hover .svg-icon.checkedm, .svg-icon.select-arrow
        icon()

    a, .disabled a:hover
        link()
