.dark0_hard { background: #1d2021 }
.dark0       { background: #282828; }
.dark0_soft  { background: #32302f; }
.dark1       { background: #3c3836; }
.dark2       { background: #504945; }
.dark3       { background: #665c54; }
.dark4       { background: #7c6f64; }
.dark4_256   { background: #7c6f64; }
.gray_245    { background: #928374; }
.gray_244    { background: #928374; }
.light0_hard { background: #f9f5d7; }
.light0      { background: #fbf1c7; }
.light0_soft { background: #f2e5bc; }
.light1      { background: #ebdbb2; }
.light2      { background: #d5c4a1; }
.light3      { background: #bdae93; }
.light4      { background: #a89984; }
.light4_256  { background: #a89984; }
.bright_red     { background: #fb4934; }
.bright_green   { background: #b8bb26; }
.bright_yellow  { background: #fabd2f; }
.bright_blue    { background: #83a598; }
.bright_purple  { background: #d3869b; }
.bright_aqua    { background: #8ec07c; }
.bright_orange  { background: #fe8019; }
.neutral_red    { background: #cc241d; }
.neutral_green  { background: #98971a; }
.neutral_yellow { background: #d79921; }
.neutral_blue   { background: #458588; }
.neutral_purple { background: #b16286; }
.neutral_aqua   { background: #689d6a; }
.neutral_orange { background: #d65d0e; }
.faded_red      { background: #9d0006; }
.faded_green    { background: #79740e; }
.faded_yellow   { background: #b57614; }
.faded_blue     { background: #076678; }
.faded_purple   { background: #8f3f71; }
.faded_aqua     { background: #427b58; }
.faded_orange   { background: #af3a03; }
